.announcements-main-div {
    width: 20%;
    overflow: hidden;
    /* border: 1px solid #0d173b;
    border-radius: 5px; */
    
}

.announ-heading {
    width: 100%;
    background-color: #4ab7e0;
    color: #0d173b;
    /* height: 35px; */
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announ-content {
    /* height: 150px;  */
    overflow: hidden;
    position: relative;
}

.announ-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: scrollUp 10s linear infinite;
}

.announ-content li {
    padding: 10px 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}

@keyframes scrollUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
