.latest-main-div {
    width: 55%;
    overflow: hidden;
   
}

.latest-title {
    width: 100%;
    background-color: #4ab7e0;
    color: #0d173b;
    height: 35px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 15px;
    max-height: 300px; /* Adjust for visible height */
    overflow-y: auto;
    
}
.main-news{
    margin:10px;
    display: flex;
    height: 40%;
    gap: 10px;
}
.main-news-image{
    width:70%;
    height:90%;
    background-color: grey;
}
.main-news-summary{
    width:25%;
    height:90%;
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.news-item {
    position: relative;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    border:1px solid lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.news-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-title {
    /* font-size: 1em; */
    font-weight:70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d173b;
    margin: 0;
}

.news-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
    color: #333;
    margin-top: 10px;
    display: none;
}

.news-item:hover .news-description {
    display: block;
}
@media (max-width: 786px) {
    .latest-main-div {
        width: 100%;
        overflow: hidden;
       
    }
    .latest-title {
        width: 100%;
        background-color: #4ab7e0;
        color: #0d173b;
        height: 35px;
       font-size: small;
       font-weight: normal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .latest-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 15px;
        padding: 15px;
        
    }
    .main-news-image{
        width:70%;
        height:90%;
        background-color: rgb(205, 28, 28);
    }
    
}
